/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Body and Container */
  body {
    background-color: #f7f7f7;
    color: #333;
  }
  
  .container {
    height: 100vh; /* Make the container take full viewport height */
    display: flex;
    flex-direction: column;
  }
  
  /* Header Styling */
  .header {
    background-color: #e0e0e0; /* Slightly lighter gray */
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #d1d1d1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  
  /* Main Content */
  .main-container {
    display: flex;
    flex: 1; /* Use all remaining height */
    gap: 10px;
    padding: 8px;
  }
  
  /* LED Display Section */
  .led-display {
    background-color: #e6e6e6;
    flex: 3; /* Take up 3/4 of the width */
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
  }
  

  
  /* Configuration Section */
  .configuration {
    background-color: #f0f0f0;
    flex: 1; /* Take up 1/4 of the width */
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    overflow-y: auto; /* Allow scrolling if content overflows */
  }
  
  .configuration h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #444;
    border-bottom: 2px solid #ccc;
    padding-bottom: 30px;
  }
  
  .configuration label {
    font-size: 1rem;
    margin-top: 10px;
    color: #555;
    font-weight: 600;
  }

  .config-settings{
    background-color: #f0f0f0;
    flex: 1; /* Take up 1/4 of the width */
    border: 5px solid #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    overflow-y: auto; /* Allow scrolling if content overflows */
  }
  .config-settings input{
    padding: 5px;
    margin: 4px;
  }

  .config-settings h2{
    font-size: 1.2rem;
    text-align: center;
    pointer-events: none;
  }

.description-container{
    background-color: #f0f0f0;
    flex: 1; /* Take up 1/4 of the width */
    border: 5px solid #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    overflow-y: auto; /* Allow scrolling if content overflows */
}
.description-container h2 {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 20px;
    pointer-events: none;
  }

.description-container input{
    padding: 10px;
    margin: 4px;
}

.download-btn-container{
   
    flex: 1; /* Take up 1/4 of the width */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    overflow-y: auto; /* Allow scrolling if content overflows */
    
}

.download-btn{
  background-color: rgb(49, 52, 240);
  color: white;
  padding: 10px;
  margin: 5px;
  border: 2px solid  black ;
  border-radius: 5px;
}

.download-btn:hover{
  background-color: rgb(81, 84, 231);
  cursor: pointer;
}


input {
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
  background: rgba(221, 219, 219, 0.623);
}

input:focus {
  border-bottom: 2px solid #007bff;
}

label {
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 16px;
  color: #aaa;
  pointer-events: none; /* Prevents interaction with the label */
  transition: 0.3s ease all;
}




.dimension{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.dimension p{
  color: #333;
  margin-bottom: 5px;
  padding: 5px;
  outline: none;
  pointer-events: none;
}

.floor-dimension{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

.Niche-depth{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  border-bottom: 2px solid #ccc;
}




